@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/PlusJakartaSans-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../public/fonts/PlusJakartaSans-Bold.ttf');
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}
